.DocsPage {
  background-color: antiquewhite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: var(--fontRegular);
}

.mainContent {
  display: flex;
}