.main {
  /* background-color: #292524; */
  background-color: var(--secondaryColor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--fontRegular);
  /* padding: 0 15rem 0 15rem; */
}

.container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.header {
  display: flex;
  background-color: var(--secondaryColor);
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgba(220, 220, 220, 0.25);

  padding: 1rem 5% 1rem 5%;
  /* padding: 1rem 0 1rem 0; */
  /* width: 100%; */
}

.header ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
  align-self: flex-end;
  color: var(--primaryColor);
}

.headerLink {
  color: var(--primaryColor);
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 2rem;
  gap: 1rem;
  min-height: 100%;
  position: sticky;
  top: 100px;
  height: 100%;
  /* border-right: 1px solid var(--mainColor); */
  /* margin-right: 0.5rem; */
  margin-right: 2rem;
}

.sidebarTitle {
  align-self: flex-start;
  font-size: 1.2rem;
  color: rgba(220, 220, 220, 0.678);
  font-weight: 500;
  /* display: none; */
}

.sidebar a {
  text-decoration: none;
  font-size: 1.2rem;
  align-self: flex-end;
  font-weight: 500;
  color: rgba(220, 220, 220, 0.753);
  border-radius: 0.25rem;
  width: 100%;
  padding: 0 0.25rem 0 1rem;
}



.footer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  /* border */
  border-top: 1px solid var(--tertiaryColor);
  padding: 1.5rem;
  color: var(--primaryColor);
  font-family: var(--OpenSansLight);
  font-size: 1.1rem;
  align-items: center;
  gap: 0.5rem;
}

.dropMenu {
  display: none;
  flex-direction: column;
  /* background-color: beige; */
  background-color: var(--secondaryColor);
  z-index: 999;
  position: sticky;
  top: 90px;
  /* border-bottom: 1px solid var(--tertiaryColor); */
  border-top: 1px solid rgba(220, 220, 220, 0.25);
  /* border-top: 1px solid var(--tertiaryColor); */
  border-bottom: 1px solid rgba(220, 220, 220, 0.25);
}

.dropMenuTitle {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-bottom: 1px solid rgba(220, 220, 220, 0.25);
  /* border-bottom: 1px solid var(--tertiaryColor); */
  cursor: pointer;
}

.dropMenuTitle:hover {
  background-color: var(--tertiaryColor);
}

.dropMenu span {
  font-size: 1.25rem;
  color: var(--primaryColor);
  margin-left: 0.25rem;
}

.openMenu {
  opacity: 1;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  font-family: var(--OpenSansBold);
  color: var(--primaryColor);

  border-bottom: 1px solid rgba(220, 220, 220, 0.25);
  gap: 0.25rem;
  transition: all 0.15s ease;
}

.openMenu li {
  padding: 0 1.25rem;
  cursor: pointer;
}

.dropMenu ul li:hover {
  background-color: var(--tertiaryColor);
}

.closeMenu {
  display: block;
  width: 0;
  height: 0;
  border: none;
  opacity: 0;
}

.ArrowIcon {
  width: 1.2rem;
  height: 2rem;
  color: var(--mainColor);
  margin-right: 0.3rem;
}

@media only screen and (max-width: 660px) {
  .sidebar {
    display: none;
  }

  .header {
    border: none;
  }

  .header ul {
    gap: 1rem;
  }

  .dropMenu {
    display: flex;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {

  .main {
    flex-direction: column;
    padding: 0;
  }

  /* .sidebar {
    display: none;
  } */

  /* .header {
    display: flex;
    gap: 4rem;
  } */

  .header ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-self: flex-end;
    margin-right: 0.75rem;
  }

  /* .dropMenu {
    display: flex;
  } */
}

@media only screen and (min-width: 1501px) and (max-width: 1800px) {
  .main {
    padding: 0 10rem 0 10rem;
  }

  .sidebar {
    /* margin-right: 4%; */
  }
}

@media only screen and (min-width: 1801px) {
  .main {
    padding: 0 16rem 0 16rem;
  }
}