.main {
  /* background-color: #292524; */
  background-color: var(--secondaryColor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--fontRegular);
  /* padding: 0 15rem 0 15rem; */
}

.container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.header {
  display: flex;
  background-color: var(--secondaryColor);
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--tertiaryColor);

  padding: 1rem 5% 1rem 5%;
  /* padding: 1rem 0 1rem 0; */
  /* width: 100%; */
}

.header ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
  align-self: flex-end;
  color: var(--primaryColor);
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 1rem;
  gap: 1rem;
  min-height: 100%;
  position: sticky;
  top: 100px;
  height: 100%;
  /* border-right: 1px solid var(--mainColor); */
  /* margin-right: 0.5rem; */
  margin-right: 2rem;
}

.sidebarTitle {
  align-self: flex-start;
  font-size: 1.5rem;
  color: var(--primaryColor);
  font-weight: 500;
  align-self: flex-start;
  /* display: none; */
}

.sidebar a {
  text-decoration: none;
  font-size: 1.2rem;
  align-self: flex-end;
  font-weight: 500;
  color: rgba(220, 220, 220, 0.753);
  border-radius: 0.25rem;
  width: 100%;
  padding: 0 0.25rem 0 0.25rem;
}

.sidebar a:hover {
  background-color: rgba(128, 128, 128, 0.575);
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  border-top: 1px solid var(--tertiaryColor);
  padding: 1.5rem;
  color: var(--primaryColor);
  font-size: 1.1rem;
  align-items: center;
  gap: 0.5rem;
}

.dropMenu {
  display: none;
  min-height: 2rem;
  align-items: center;
  border-bottom: 1px solid var(--mainColor);
  padding: 0.5rem;
}

.ArrowIcon {
  width: 1.2rem;
  height: 2rem;
  color: var(--mainColor);
  margin-right: 0.3rem;
}

.dropMenu select {
  appearance: none;
  background: none;
  border: none;
  font-size: 1.25rem;
  font-family: var(--fontBold);
  flex: 1;
  outline: none;
  color: var(--mainColor);
}

.dropMenu select:active {
  background-color: black;
}

.dropMenu select:focus {
  background-color: black;
}

.dropMenu option {
  background: none;
  border: none;
}


@media only screen and (max-width: 660px) {
  .sidebar {
    display: none;
  }

  .header ul {
    gap: 1rem;
  }

  .dropMenu {
    display: flex;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {

  .main {
    flex-direction: column;
    padding: 0;
  }

  /* .sidebar {
    display: none;
  } */

  .header {}

  .header ul {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    font-size: 1.3rem;
    align-self: flex-end;
    margin-right: 0.75rem;
  }

  /* .dropMenu {
    display: flex;
  } */
}

@media only screen and (min-width: 1501px) and (max-width: 1800px) {
  .main {
    padding: 0 10rem 0 10rem;
  }

  .sidebar {
    /* margin-right: 4%; */
  }
}

@media only screen and (min-width: 1801px) {
  .main {
    padding: 0 16rem 0 16rem;
  }
}