.section {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
}

.title {
    color: var(--primaryColor);
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
}

.subtitle {
    color: var(--tertiaryColor);
    font-size: 1.1rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

/* .aditionalContent {
    color: var(--primaryColor);
    background-color: rgba(128, 128, 128, 0.267);
    border-radius: 0.25rem;
    padding: 0.25rem 1rem;
    font-style: italic;
} */