@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,700;1,800&display=swap');

:root {
  --fontRegular: 'OpenSansRegular', sans-serif;
  --fontItalic: 'OpenSansItalic', sans-serif;
  --fontBold: 'OpenSansBold', sans-serif;
  --testRegular: 'Open Sans', sans-serif;
  --primaryColor: #fff;
  --secondaryColor: #4a4e69;
  --tertiaryColor: #9a8c98;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Fonts */

@font-face {
  font-family: 'OpenSansRegular';
  src: url('/src/assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('/src/assets/fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSansItalic';
  src: url('/src/assets/fonts/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('/src/assets/fonts/OpenSans-Bold.ttf') format('truetype');
}